version: "3.9"

services:
  api:
    build: .
    container_name: traffic-api
    ports:
      - "8001:8001"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: nyc-postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: traffic_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
